/* reset */
*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
}
/* utilities */
.bg-gray{
    background-color: rgb(240, 238, 238);
}



.bg-white{
    background-color: white;
}


/* layout */
header{
    padding: 20px;
}

.title{
    display:inline;
    vertical-align: middle;
    
}

main{
    width: 80%;  

    /* debug */
    /* border: 1px solid black; */
    
}

.margin{
    margin-bottom: 30px;
}
.padding{
    padding: 40px;
}
nav{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 25px;
    
}

section.bg-gray{
    height: 2px;
}


/* Bottoni */
.bt-blue{
    background-color: rgb(40, 157, 252);
    padding: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 10px;
    margin-right: 1px;
    display: inline-block;
    color: white;
    border-radius: 10px;
    border: 1px solid rgb(40, 157, 252);
    text-decoration: none;
    height: 35px;
    vertical-align: middle;
}

.bt-gray{
    color: rgb(201, 199, 199);
    padding: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 10px;
    margin-left: 1px;
    display: inline-block;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 10px;
    text-decoration: none;
    height: 35px;
    vertical-align: middle;
}

/* circle */
.circle{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
span.circle{
    text-align: center;
}
.circle.green{
    border-color: rgb(74, 245, 74);
    color: rgb( 74, 245, 74);
}

.circle.red{
    border-color: rgb(255, 22, 22);
    color: rgb(255, 22, 22);
}

/* post-it */

.ovale{
    color: white;
    background-color: white;
    padding: 7px;
    margin: 10px;
    display: inline-block;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 20px;
    vertical-align: middle;
    font-size: 70%;
}

.ovale.blue{
    background-color: rgb(40, 157, 252);
    border-color: rgb(40, 157, 252);
}

.ovale.violet{
    background-color: violet;
    border-color: violet;
}

.ovale.water{
    background-color: rgb(52, 226, 168);
    border-color: rgb(52, 226, 168);
}
.ovale.orange{
    background-color: orange;
    border-color: orange;
}

.ovale.pink{
    background-color: palevioletred;
    border-color: palevioletred;
}
.ovale.green{
    background-color: greenyellow;
    border-color: greenyellow;
}